body{
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    width: 194vh;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: pink;
}

.telaDeFundo {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.chapeu {
    width: 30px;
    margin-top: 25px;
    margin-left: 110px;
}

.nomeProfessora {
    color: white;
    position: absolute;
    margin-left: 150px;
    margin-top: -31px;
    font-size: large;
}


.navegacao {
    position: absolute;
    margin-left: 125vh;
    margin-top: -31px;
}

a {
    color: rgb(255, 255, 255);
}

.inicio {
    text-decoration: none;
    position: absolute;
    font-size: medium;
}


.sobre {
    text-decoration: none;
    position: absolute;
    margin-left: 35px;
    font-size: medium;
}

.formacao {
    text-decoration: none;
    position: absolute;
    margin-left: 70px;
    font-size: medium;
}

.disciplinas {
    text-decoration: none;
    position: absolute;
    margin-left: 118px;
    font-size: medium;
}

.contato {
    text-decoration: none;
    position: absolute;
    margin-left: 168px;
    color: rgb(255, 0, 149);
    font-size: medium;
}

main {
    position: absolute;
    margin-top: 80px;
    width: 99.62vw;
    height: 84.6vh;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nome_contato{
    margin-top: 30px;
    text-align: center;
    font-size: 60px;
}
.contatosemgeral{
    position: absolute;
    margin: 30px;
    margin-left: 70px;
}
.textin{
    position: absolute;
    margin-top: 10px;    
    width: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.email{
    color: #ff69b4;
    position: absolute;
    margin-top: 180px;
    font-size: 10px;
    padding: 5px;
    border: 2px solid grey;
    width: 250px;
    height: 45px;
    border-radius: 7px;
}
.simboloemail{
    position: absolute;
    margin-top: 10px;
    width: 10px;
    height: 10px;
}
.escrevecaoemail{
    position: absolute;
    margin-left: 13px;
    z-index: 1;
}
.telefone{
    color: #ff69b4;
    position: absolute;
    margin-top: 241px ;
    font-size: 10px;
    padding: 5px;
    border: 2px solid grey;
    width: 250px;
    height: 52px;
    border-radius: 7px;
}
.escrevecaotelefone{
    position: absolute;
    margin-left: 12px;
}
.simbolotelefone{
    position: absolute;
    margin-top: 10px;
    width: 10px;
    height: 10px;
}
.numero{
    position: absolute;
    margin-top: 30px;
    padding: 2px;
    color: black;
}
.instagram{
    color: #ff69b4;
    position: absolute;
    margin-top: 250px;
    margin-left: 270px;
    font-size: 10px;
    padding: 5px;
    border: 2px solid grey;
    width: 250px;
    height: 42px;
    border-radius: 7px;
}
.simboloinsta{
    position: absolute;
    margin-top: 10px;
    width: 10px;
    height: 10px;
}
.escrevecaoinsta{
    position: absolute;
    margin-left: 13px;
}
.linkemail{
    position: absolute;
    color: blue;
    margin-top: 20px;
}
.linkinsta{
    position: absolute;
    margin-top: 25px;
    color: blue;
}
table{
    position: absolute;
    width: 700px;
    height: 280px;
    border-collapse:collapse;
    color: #ff69b4;
    margin-left: 850px;
    margin-top: 35px;
    box-shadow: 0 7px 12px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

td {
    text-align: center;
    
}
.coresfontetabela{
    color: black;
    width: 100px;
}