body {
    padding: 0px;
    margin: 0px;
}

header {
    position: fixed;
    width: 194vh;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: pink;
}

.telaDeFundo {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.chapeu {
    width: 30px;
    margin-top: 25px;
    margin-left: 110px;
}

.nomeProfessora {
    color: white;
    position: absolute;
    margin-left: 150px;
    margin-top: -31px;
    font-size: large;
}


.navegacao {
    position: absolute;
    margin-left: 125vh;
    margin-top: -31px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.inicio {
    position: absolute;
    font-size: medium;
}


.sobre {
    position: absolute;
    margin-left: 35px;
    font-size: medium;
}

.formacao {
    position: absolute;
    margin-left: 70px;
    font-size: medium;
}

.disciplinas {
    position: absolute;
    margin-left: 118px;
    font-size: medium;
    color: rgb(255, 0, 149);
}

.contato {
    position: absolute;
    margin-left: 168px;
    font-size: medium;
}

main {
    position: absolute;
    margin-top: 80px;
    width: 99.62vw;
    height: 84.6vh;
    font-size: large;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.livro {
    width: 40px;
    position: absolute;
    margin-top: 5px;
    margin-left: 100px;
}

.disciplinasMain {
    position: absolute;
    margin-left: 150px;
    margin-top: 10px;
    color: #FFF5E1;
}

.ip {
    position: absolute;
    width: 450px;
    border: 1px solid;
    color: #9bffde;
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 100px;
    height: 260px;
    box-shadow: 0 7px 12px rgba(0,0,0,0.4);
}

.el {
    position: absolute;
    width: 450px;
    color: #9bffde;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 570px;
    margin-top: 80px;
    height: 260px;
    box-shadow: 0 7px 12px rgba(0,0,0,0.4);
}

.se {
    position: absolute;
    width: 450px;
    color: #9bffde;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 1040px;
    margin-top: 80px;
    height: 260px;
    box-shadow: 0 7px 12px rgba(0,0,0,0.4);
}

.tituloDisciplina {
    color: #FFF5E1;
    padding: 10px;
    margin-left: 15px;
}

.descricaoDisciplinas {
    margin-left: 23px;
    color: #F5EBDD;
    width: 400px;
}

.cargaHoraria {
    border: 1px solid;
    width: 35px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 22px;
    border-color: #9bffde;
    color: #F5EBDD;
    font-weight: bold;
}

.praticaTeorica {
    border: 1px solid;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    font-size: 12px;
    border-color: #9bffde;
    color: #F5EBDD;
    font-weight: bold;
    margin-top: -30px;
    margin-left: 65px;
}

.iconeIp {
    position: absolute;
    width: 25px;
    margin-top: -50px;
    margin-left: 250px;
}

.iconeEl {
    position: absolute;
    width: 30px;
    margin-top: -54px;
    margin-left: 190px;
}

.iconeSe {
    position: absolute;
    width: 25px;
    margin-top: -52px;
    margin-left: 220px;
}

table{
    position: absolute;
    width: 700px;
    height: 300px;
    border-collapse:collapse;
    color: rgb(255, 0, 149);
    margin-left: 450px;
    margin-top: 360px;
    box-shadow: 0 7px 12px rgba(0,0,0,0.4);
    border-radius: 8px;

    border-color: #9bffde;
}

td {
    text-align: center;
    
}
.coresfontetabela{
    color: rgb(255, 255, 255);
    width: 100px;
}