body {
    padding: 0px;
    margin: 0px;
}

header {
    position: fixed;
    background: linear-gradient(to right, #009F6B,  #00d18b);
    width: 194vh;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
}

.chapeu {
    width: 30px;
    margin-top: 25px;
    margin-left: 110px;
}

.nomeProfessora {
    color: white;
    position: absolute;
    margin-left: 150px;
    margin-top: 28px;
    font-size: large;
}


.navegacao {
    position: absolute;
    margin-left: 125vh;
    margin-top: 28px;

}

a {
    color: rgb(255, 255, 255);
}

.inicio {
    text-decoration: none;
    position: absolute;
    font-size: medium;
}


.sobre {
    text-decoration: none;
    position: absolute;
    margin-left: 35px;
    font-size: medium;
}

.formacao {
    text-decoration: none;
    position: absolute;
    margin-left: 70px;
    font-size: medium;
}

.disciplinas {
    text-decoration: none;
    position: absolute;
    margin-left: 118px;
    font-size: medium;
    color: rgb(255, 0, 149);
}

.contato {
    text-decoration: none;
    position: absolute;
    margin-left: 168px;
    font-size: medium;
}       

main {
    background-color: #FFF0F5;
    position: absolute;
    margin-top: 80px;
    width: 192.133vh;
    height: 44.1vw;
    font-size: large;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 40px;
    position: absolute;
    margin-top: 5px;
    margin-left: 100px;
}

.disciplinasMain {
    position: absolute;
    margin-left: 150px;
    margin-top: 10px;
    
}

.ip {
    position: absolute;
    width: 450px;
    border: 1px solid;
    color: rgb(194, 194, 194);
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 100px;
    height: 260px;
    box-shadow: 0 7px 12px rgba(0,0,0,0.4);
}

.el {
    position: absolute;
    width: 450px;
    color: rgb(194, 194, 194);
    border: 1px solid;
    border-radius: 10px;
    margin-left: 570px;
    margin-top: 80px;
    height: 260px;
    box-shadow: 0 7px 12px rgba(0,0,0,0.4);
}

.se {
    position: absolute;
    width: 450px;
    color: rgb(194, 194, 194);
    border: 1px solid;
    border-radius: 10px;
    margin-left: 1040px;
    margin-top: 80px;
    height: 260px;
    box-shadow: 0 7px 12px rgba(0,0,0,0.4);
}

.tituloDisciplina {
    color: black;
    padding: 10px;
    margin-left: 15px;
}

.descricaoDisciplinas {
    margin-left: 23px;
    color: rgb(133, 133, 133);
    width: 400px;
}

.cargaHoraria {
    border: 1px solid;
    width: 35px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 22px;
    border-color: rgb(194, 194, 194);
    color: rgb(31, 31, 31);
    font-weight: bold;
}

.praticaTeorica {
    border: 1px solid;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    font-size: 12px;
    border-color: rgb(194, 194, 194);
    color: rgb(31, 31, 31);
    font-weight: bold;
    margin-top: -30px;
    margin-left: 65px;
}

.iconeIp {
    width: 25px;
    margin-top: -50px;
    margin-left: 250px;
}

.iconeEl {
    width: 23px;
    margin-top: -50px;
    margin-left: 120px;
}

.iconeSe {
    width: 25px;
    margin-top: -50px;
    margin-left: 220px;
}