body {
    padding: 0px;
    margin: 0px;
}

header {
    position: fixed;
    width: 194vh;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: pink;
}

.telaDeFundo {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.chapeu {
    width: 30px;
    margin-top: 25px;
    margin-left: 110px;
}

.nomeProfessora {
    color: white;
    position: absolute;
    margin-left: 150px;
    margin-top: -31px;
    font-size: large;
}


.navegacao {
    position: absolute;
    margin-left: 125vh;
    margin-top: -31px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.inicio {
    position: absolute;
    color: rgb(255, 0, 149);
    font-size: medium;
}


.sobre {
    position: absolute;
    margin-left: 35px;
    font-size: medium;
}

.formacao {
    position: absolute;
    margin-left: 70px;
    font-size: medium;
}

.disciplinas {
    position: absolute;
    margin-left: 118px;
    font-size: medium;
}

.contato {
    position: absolute;
    margin-left: 168px;
    font-size: medium;
}       

.meioTela {
    position: absolute;
    margin-top: 80px;
    width: 99.62vw;
    height: 84.6vh;
    font-size: large;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.botoesMain {
    width: 380px;
    height: 50px;
}

.emailPin {
    position: absolute;
    width: 20px;
    margin-top: 9px;
    margin-left: 15px;
    z-index: 1;
}

.entreEmContato {
    position: absolute;
    background: linear-gradient(to left, #009F6B,  #00d18b);
    font-size: 15px;
    text-align: center;
    width: 150px;
    height: 32px;
    padding-top: 8px;
    padding-left: 35px;
    border-radius: 5px;
    font-weight: bold;
}

.userPin {
    position: absolute;
    width: 18px;
    margin-top: 10px;
    margin-left: 217px;
}

.saibaMais {
    position: absolute;
    font-size: 15px;
    text-align: center;
    width: 100px;
    height: 31px;
    padding-top: 8px;
    padding-left: 35px;
    border-radius: 5px;
    margin-left: 200px;
    border: 1px solid;
    border-color: rgb(194, 194, 194);
    font-weight: bold;
    color: rgb(255, 0, 149);
}

.breveDescricao {
    position: absolute;
    width: 70vh;
    margin-left: 145px;
    margin-top: 150px;
}

.botao-download {
    position: absolute;
    font-size: 15px;
    text-align: center;
    width: 180px;
    height: 31px;
    padding-top: 8px;
    border-radius: 5px;
    margin-left: 350px;
    border: 1px solid;
    border-color: rgb(194, 194, 194);
    font-weight: bold;
    background-color: rgb(255, 0, 149);
}

.descricao {
    color: rgb(75, 75, 75);
}

.imagem {
    position: absolute;
    margin-left: 100vh;
}

.imgJessyca {
    position: absolute;
    width: 335px;
    height: 460px;
    margin-top: 75px;
    margin-left: 130px;
    border-radius: 25px;
    z-index: 1;
    box-shadow: 15px 15px 5px 5px rgba(255, 0, 221, 1);
}
