body {
    padding: 0px;
    margin: 0px;
}

header {
    position: fixed;
    background: linear-gradient(to right, #009F6B,  #00d18b);
    width: 194vh;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
}

.chapeu {
    width: 30px;
    margin-top: -175px;
    margin-left: 110px;
}

.nomeProfessora {
    color: white;
    position: absolute;
    margin-left: 150px;
    margin-top: 28px;
    font-size: large;
}


.navegacao {
    position: absolute;
    margin-left: 125vh;
    margin-top: 28px;
}

a {
    color: rgb(255, 255, 255);
}

.inicio {
    text-decoration: none;
    position: absolute;
    color: rgb(255, 0, 149);
    font-size: medium;
}


.sobre {
    text-decoration: none;
    position: absolute;
    margin-left: 35px;
    font-size: medium;
}

.formacao {
    text-decoration: none;
    position: absolute;
    margin-left: 70px;
    font-size: medium;
}

.disciplinas {
    text-decoration: none;
    position: absolute;
    margin-left: 118px;
    font-size: medium;
}

.contato {
    text-decoration: none;
    position: absolute;
    margin-left: 168px;
    font-size: medium;
}       

.meioTela {
    background-color: #FFF0F5;
    position: absolute;
    margin-top: 80px;
    width: 192.133vh;
    height: 44.1vw;
    font-size: large;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.breveDescricao {
    position: absolute;
    width: 70vh;
    margin-left: 145px;
    margin-top: 150px;
}

.descricao {
    color: rgb(75, 75, 75);
}

.imagem {
    position: absolute;
    margin-left: 100vh;
}

img {
    position: absolute;
    width: 340px;
    height: 430px;
    margin-top: 75px;
    margin-left: 130px;
    border-radius: 25px;
    z-index: 1;
}

.sombra {
    background-color: rgb(255, 0, 149);
    position: absolute;
    width: 430px;
    height: 350px;
    margin-top: 120px;
    margin-left: 85px;
    transform: rotate(95deg);
    border-radius: 25px;
}