body {
    padding: 0px;
    margin: 0px;
}

header {
    position: fixed;
    background: linear-gradient(to right, #009F6B,  #00d18b);
    width: 194vh;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
}

.chapeu {
    width: 30px;
    margin-top: 25px;
    margin-left: 110px;
}

.nomeProfessora {
    color: white;
    position: absolute;
    margin-left: 150px;
    margin-top: -31px;
    font-size: large;
}


.navegacao {
    position: absolute;
    margin-left: 125vh;
    margin-top: -31px;
}

a {
    color: rgb(255, 255, 255);
}

.inicio {
    text-decoration: none;
    position: absolute;
    font-size: medium;
}


.sobre {
    text-decoration: none;
    position: absolute;
    margin-left: 35px;
    color: rgb(255, 0, 149);
    font-size: medium;
}

.formacao {
    text-decoration: none;
    position: absolute;
    margin-left: 70px;
    font-size: medium;
}

.disciplinas {
    text-decoration: none;
    position: absolute;
    margin-left: 118px;
    font-size: medium;
}

.contato {
    text-decoration: none;
    position: absolute;
    margin-left: 168px;
    font-size: medium;
}      

main {
    background-color: #FFF0F5;
    position: absolute;
    margin-top: 80px;
    width: 192.133vh;
    height: 44.1vw;
    font-size: large;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sobreMain {
    position: absolute;
    width: 600px;
    margin-top: 80px;
    margin-left: 150px;
}

.userPin {
    width: 35px;
    position: absolute;
    margin-top: 25px;
}

.sobreP {
    margin-left: 43px;
}

.areas {
    color: rgb(194, 194, 194);
    position: absolute;
    border: 1px solid;
    border-radius: 10px;
    width: 450px;
    height: 115px;
    margin-left: 900px;
    margin-top: 140px;
    font-size: 15px;
}

.ia {
    text-align: center;
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    width: 155px;
    margin-left: 20px;
    color: black;
}

.vc {
    position: absolute;
    text-align: center;
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    width: 155px;
    color: black;
    margin-top: -35px;
    margin-left: 185px;
}
.id {
    position: absolute;
    text-align: center;
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    width: 130px;
    color: black;
    margin-top: -5px;
    margin-left: 20px;
}

.hobbies {
    color: rgb(194, 194, 194);
    position: absolute;
    border: 1px solid;
    border-radius: 10px;
    width: 450px;
    height: 200px;
    margin-left: 900px;
    margin-top: 275px;
}

.areasInteresse {
    margin-left: 20px;
    color: black;
}

.parteHobbies {
    margin-left: 20px;
    color: black;
}

ul {
    font-size: 15px;
    color: gray;
}