body {
    padding: 0px;
    margin: 0px;
}

header {
    position: fixed;
    width: 194vh;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: pink;
}

.telaDeFundo {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.chapeu {
    width: 30px;
    margin-top: 25px;
    margin-left: 110px;
}

.nomeProfessora {
    color: white;
    position: absolute;
    margin-left: 150px;
    margin-top: -31px;
    font-size: large;
}


.navegacao {
    position: absolute;
    margin-left: 125vh;
    margin-top: -31px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.inicio {
    position: absolute;
    font-size: medium;
}


.sobre {
    position: absolute;
    margin-left: 35px;
    font-size: medium;
    color: rgb(255, 0, 149);
}

.formacao {
    position: absolute;
    margin-left: 70px;
    font-size: medium;
}

.disciplinas {
    position: absolute;
    margin-left: 118px;
    font-size: medium;
}

.contato {
    position: absolute;
    margin-left: 168px;
    font-size: medium;
}

main {
    position: absolute;
    margin-top: 80px;
    width: 99.62vw;
    height: 84.6vh;
    font-size: large;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sobreMain {
    position: absolute;
    width: 600px;
    margin-top: 80px;
    margin-left: 150px;
}

.userPin {
    width: 35px;
    position: absolute;
    margin-top: 25px;
}

.sobreP {
    margin-left: 43px;
}

.areas {
    color: rgb(194, 194, 194);
    position: absolute;
    border: 1px solid;
    border-radius: 10px;
    width: 450px;
    height: 115px;
    margin-left: 900px;
    margin-top: 140px;
    font-size: 15px;
}

.ia {
    text-align: center;
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    width: 155px;
    margin-left: 20px;
    color: black;
}

.vc {
    position: absolute;
    text-align: center;
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    width: 155px;
    color: black;
    margin-top: -35px;
    margin-left: 185px;
}
.id {
    position: absolute;
    text-align: center;
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    width: 130px;
    color: black;
    margin-top: -5px;
    margin-left: 20px;
}

.hobbies {
    color: rgb(194, 194, 194);
    position: absolute;
    border: 1px solid;
    border-radius: 10px;
    width: 450px;
    height: 200px;
    margin-left: 900px;
    margin-top: 275px;
}

.areasInteresse {
    margin-left: 20px;
    color: black;
}

.parteHobbies {
    margin-left: 20px;
    color: black;
}

ul {
    font-size: 15px;
    color: gray;
}

.sobreP {
    color: #FFF5E1;
}